body {
    
    font-family: monospace;
}
hr {
    border: 2px solid black;
    background-color: black;
    border-radius: 300px ;
    width: 100px;
    height: 0; 
    text-align: center;
    margin-top: 0;
    margin-left: 0; 
}
figure{
   float: left;
   margin-left: 5px;
   margin-right: 18px;
   position: relative;
   margin-bottom: 2px;
}
img {
    position: relative;
    filter: contrast(60%);
}
img:hover{  
    filter:none;    
}
span {
    color: white;
    position: absolute; 
    font-size: 12px;
    font-weight: bold;
    right:5%;
    bottom: 5%; 
}  


