/*Sprites css*/
.bg-fatima_riquelme_arequipa {
    width: 152px; height: 152px;
    background: url('css_sprites.png') -20px -20px;
}
.bg-luisa_perez_mexico {
    width: 152px; height: 152px;
    background: url('css_sprites.png') -212px -20px;
}
.bg-lizbeth_jordan_mexico {
    width: 152px; height: 152px;
    background: url('css_sprites.png') -20px -212px;
}
.bg-marilyn_villano_lima {
    width: 152px; height: 152px;
    background: url('css_sprites.png') -212px -212px;
}
.bg-lia_maldonado_chile {
    width: 152px; height: 152px;
    background: url('css_sprites.png') -404px -20px;
}
.bg-kristina_jara_lima {
    width: 152px; height: 152px;
    background: url('css_sprites.png') -404px -212px;
}
